.main-nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
}
.main-nav li a {
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 4px;
}
.main-nav li .fa {
  margin-right: 10px;
}
.main-nav li.link-active a,
.main-nav li.link-active a:hover,
.main-nav li.link-active a:focus {
  background-color: #4189C7;
  color: white;
}
@media (min-width: 200px) {
  .main-nav .navbar {
    border-width: 0px;
    height: 100%;
    width: 100%;
  }
  .main-nav .navbar li {
    font-size: 15px;
    margin: 0px;
  }
  .main-nav .navbar li a {
    padding: 6px 16px;
    border-radius: 4px;
  }
  .main-nav .navbar-brand {
    padding: 4px;
  }
  .main-nav .navbar-collapse {
    padding: 0px;
  }
}
